#include <../boards/shields/seeed_xiao_round_display/seeed_xiao_round_display.overlay>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/xiaord/input_codes.h>
#include "zmk_behaviors.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout0;
        zephyr,display = &gc9a01_xiao_round_display;
        zmk,display-led = &display_backlight;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <0>;
        rows = <0>;
        map = < >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
    };

    vkey: vkey {
        compatible = "zmk,virtual-key-source";
    };

    macropad_behaviors: macropad_behaviors {
        compatible = "zmk,input-processor-behaviors";
        #input-processor-cells = <0>;
        type = <INPUT_EV_ZMK_BEHAVIORS>;
        codes = <SS_KEY_0 SS_KEY_1 SS_KEY_2 SS_KEY_3 SS_KEY_4>;
        bindings = <&kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_N4>;
    };

    touchpad_listener: touchpad_listener {
        compatible = "zmk,input-listener";
        device = <&vkey>;
        input-processors = <&macropad_behaviors &zmk_behaviors>;
    };


    backlight: node_led {
        compatible = "gpio-leds";
        display_backlight: led_0 {
            gpios = <&xiao_d 6 GPIO_ACTIVE_HIGH>;
            label = "Backlight LED";
        };
    };

};

// ToDo : Refactor custom logic into input processors; use default driver.
//&chsc6x_xiao_round_display {
//    compatible = "chipsemi,chsc6x-custom";
//};
