#include <../boards/shields/seeed_xiao_round_display/seeed_xiao_round_display.overlay>

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout0;
        zephyr,display = &gc9a01_xiao_round_display;
        zmk,display-led = &display_backlight;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <0>;
        rows = <0>;
        map = < >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
    };

    touchpad_listener: touchpad_listener {
        compatible = "zmk,input-listener";
        device = <&chsc6x_xiao_round_display>;
    };


    backlight: node_led {
        compatible = "gpio-leds";
        display_backlight: led_0 {
            gpios = <&xiao_d 6 GPIO_ACTIVE_HIGH>;
            label = "Backlight LED";
        };
    };

};

// ToDo : Refactor custom logic into input processors; use default driver.
&chsc6x_xiao_round_display {
    compatible = "chipsemi,chsc6x-custom";
};
